<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hotel-card">

  <div class="field ,style="padding-top:100px;">
    <h5><strong><%= form.label :no ,{class: "form-label text-dark"}  %></strong></h5>
    <%= form.number_field :no,{class:"form-control"} %>
  </div>

  <div class="field">
  <h5>Room Type</h5>
  <%= form.label :room_type, "AC" %>
  <%= form.radio_button :room_type, "AC" %>
  <%= form.label :room_type, "Non-Ac" %>
  <%= form.radio_button :room_type, "Non-AC" %>
  
</div>

  <div class="field">
  <h5><strong><%= form.label :description,{class: "form-label"}  %></strong></h5>
    <%= form.text_area :description ,{class:"form-control"}%>
  </div>

  <div class="field">
  <h5><strong> <%= form.label :price,{class: "form-label"}  %></strong></h5>
    <%= form.text_field :price ,{class:"form-control"}%>
  </div>

  <div class="field">
  <h5><strong> <%= form.label :hotel_id ,{class: "form-label"} %></strong></h5>
    <%= form.text_field :hotel_id,{class:"form-control"} %>
  </div>

  <h5><strong><%= form.label :room_image %></strong></h5>
  <%= form.file_field :room_image %>

  <div class="actions">
    <%= form.submit %>
  </div>
  
  </div>
<% end %>
